{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="col-sm-6 mx-auto" >
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success">send</button>
    </form>
</div>


{% endblock %}