{% extends 'blog/base.html' %}
{% block main %}

<div class="col-md-4 mx-auto">
  <a class="btn btn-primary m-3" href="{% url 'account:create' %}">create new</a>
  <a class="btn btn-warning m-3" href=" {% url 'account:profile' %}">edit profile</a>
</div>

<table class="table col-md-6 mx-auto" >
    <thead>
      <tr>
        <th scope="col">title</th>
        <th scope="col">image</th>
        <th scope="col">discription</th>
        <th scope="col">category</th>
        <th scope="col">auhor</th>
        <th scope="col">publish</th>
        <th scope="col">special</th>
        <th scope="col">situation</th>
      </tr>
    </thead>
    <tbody>
        {% for post in posts %}
      <tr>
        <td>{{ post.title }}</td>
        <td>{{ post.image.url }}</td>
        <td>{{ post.description|truncatewords:"30" }}</td>
        <td>{{ post.category_to_list }}</td>
        <td>{{ post.author.get_full_name }}</td>
        <td>{{ post.publish }}</td>
        <td>{{ post.is_special }}</td>
        <td>
            {% if post.status == 'p' %}
            <span class="badge badge-success">منتشرشده</span>
            <a target="_blank" class="badge badge-primary" href="">نمایش</a>
          {% elif post.status == 'i' %}
            <span class="badge" style="background-color: #32f4df;">درحال بررسی</span>
            {% if user.is_superuser %}
              <a target="_blank" class="badge badge-secondary" href="{% url 'blog:preview' post.id %}">پیشنمایش</a>
            {% endif %}
          {% else %}
            {% if post.status == 'd' %}
              <span class="badge badge-danger">پیش‌نویس</span>
              <a href="{% url 'account:editpost' post.id %}" class="badge badge-info">edit</a>
            {% else %}
              <span class="badge badge-warning">برگشت داده شده</span>
            {% endif %}
            <a target="_blank" class="badge badge-secondary" href="{% url 'blog:preview' post.id %}">پیشنمایش</a>
          {% endif %}
        </td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}