{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="col-md-4 mx-auto">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
</div>
{% endblock %}