{% extends 'blog/base.html' %}

{% block main %}
    <div>
        <form method="post">{% csrf_token %}
            <p>delete {{ object }}</p>
            <input type="submit" value="delete" class="btn btn-danger">
        </form>
    </div>
{% endblock %}