{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block main %}
    <div class="col-md-6 mx-auto">
        <form method='post'>{% csrf_token%}
            {{ form|crispy }}
            <button class="btn btn-success">edite profile</button>
        </form>
    </div>
{% endblock %}