{% extends 'blog/base.html' %}

{% block main%}
    <h1 style="text-align: center;">posts</h1>
    {% for post in posts %}
    <div class="col-md-6 mx-auto">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ post.image.url }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.description }}</p>
                        <p class="card-text"><small class="text-muted"><a href="{% url 'blog:postsUser' post.author.username %}">{{ post.author.get_full_name }}</a> | {{ post.publish }}</small></p>
                        <a href="{% url 'blog:postdetail' post.slug %}" class="btn btn-primary">read more</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- pagination -->
    
    <nav aria-label="Page navigation example" class="col-md-3 mx-auto">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'blog:home' page_obj.previous_page_number %}">Previous</a></li>
            {% else %}
                <li class="disabled"><a class="page-link">Previous</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link " >{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{% url 'blog:home' i %}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'blog:home' page_obj.next_page_number %}">Next</a></li>
            {% else %}
                <li class="disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    <h1 style="text-align: center;">category</h1>
    <div class="categoris col-md-6 mx-auto" style="display: flex;">
    {% for cat in category%}
        <a href="{% url 'blog:category' cat.slug %}" class="btn btn-secondary" style="margin: 20px;">{{ cat.name }}</a>
    {% endfor %}
    </div>
{% endblock %}