{% extends 'blog/base.html' %}

{% block main %}
    <div>
        <img style="max-width: 500px;" src="{{ post.image.url }}" alt="">
        <h4>{{ post.title }}</h4>
        <p><a href="{% url 'blog:postsUser' post.author.username %}">{{ post.author }}</a>
            <span>{{ post.publish }}</span>
        </p>
        <p style="border-bottom: 1px solid black;">{{ post.description }}</p>
        <h3>category</h3>
        {% for category in post.category.active %}
        <a href="{% url 'blog:category' category.slug %}">#{{ category.name }}</a>
        {% endfor %}
    </div>
{% endblock %}