{% extends 'blog/base.html' %}

{% block main%}
<h1 style="margin: 40px;">{{ author.get_full_name }}'s posts</h1>
    {% for post in posts %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ post.image.url }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.description }}</p>
                        <p class="card-text"><small class="text-muted"><a href="{% url 'blog:postsUser' post.author.username %}">{{ post.author.get_full_name }}</a> | {{ post.publish }}</small></p>
                        <a href="{% url 'blog:postdetail' post.slug %}" class="btn btn-primary">read more</a>
                    </div>
                    
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'blog:postsUser' author.username page_obj.previous_page_number %}">Previous</a></li>
            {% else %}
                <li class="disabled"><a class="page-link">Previous</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link " >{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{% url 'blog:postsUser' author.username i %}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'blog:postsUser' author.username page_obj.next_page_number %}">Next</a></li>
            {% else %}
                <li class="disabled"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}